@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    max-width: 1280px;
    margin-inline: auto;
}
.text-glow:hover {
    text-shadow: 0 0 3px rgb(241, 227, 227);
}

.text-glow-purple:hover {
    text-shadow: 0 0 5px #9148ee;
}
